.img-carrito {
  height: 2rem;
  margin-left: 35px;
}

.numero-carrito {
  color: white;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
}

.nav-link.active {
  font-weight: bold;
}

.me-auto {
  background-color: rgb(9, 9, 9);
}
